<! doctype HTML>
<html lang="en">

<html>

    <link rel ="stylesheet" href ="css/newstyle.css">

	<head>
        
	</head>

	<body>
    	<div id="form">
			<h3>Check all that are acceptable.</h3><br>
			<p><input type="checkbox" value="<%names%>"></p>
		</div>
	</body>

	<footer>
	
	</footer>

</html>