<! doctype HTML>
<html lang="en">

<html>

    <link rel ="stylesheet" href ="css/newstyle.css">

	<head>
        
	</head>

	<body>
    	<form>
            <div id="boxes">
	            
            </div>
    	</form>
	</body>

	<footer>
	
	</footer>

</html>