<! doctype HTML>
<html lang="en">

<html>

    <link rel ="stylesheet" href ="css/newstyle.css">

	<head>
        
	</head>

	<body>
    	<div id="form">
			<p>Check all that are acceptable.</p><br>
			<input type="checkbox" value="<%names%>">
		</div>
	</body>

	<footer>
	
	</footer>

</html>