<! doctype HTML>
<html lang="en">

<html>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel ="stylesheet" href ="css/newstyle.css">

	<head>
        
	</head>

	<body>
    	<div id="form">
			<form action="/checkbox">
				<p>Check all that are acceptable.</p><br>
				<input type="checkbox" name="goodpairs" value="<%=names%>"><br>
				<input type="submit" value="These are good!">
			</form>
		</div>
	</body>

	<footer>
	
	</footer>

</html>