<! doctype HTML>
<html lang="en">

<html>

    <link rel ="stylesheet" href ="css/newstyle.css">

	<head>
        <div id="head">
            LET'S PAIR UP!
        </div>
	</head>

	<body>
        <ul>
            <form>
                How many names do you need to pair?<br>
                <script src="../js/getnames.js"></script>
                <input type="number" id="student" name="student" autofocus="autofocus" placeholder="Enter a number" required>
                <input type="button" onclick="addinputFields()" name="Generate Fields" value="Generate Fields">
                <p id="demo"></p>
            </form>
        </ul>
        <input type="submit" value="Ready to pair up?">
	</body>

	<footer>
	
	</footer>

</html>