<! doctype HTML>
<html lang="en">

<html>

    <link rel ="stylesheet" href ="css/newstyle.css">

	<head>
        <div id="head">
            LET'S PAIR UP!
        </div>
	</head>

	<body>
        <div id="form">
            <p>Click to add a field.</p>
            <script src="js/getnames.js"></script>
            <button onclick="randomPair()">New Name</button><br>
            <form method="post" action="/getnames" id="">
                
            </form>
        </div>
	</body>

	<footer>
	
	</footer>

</html>