<! doctype HTML>
<html lang="en">

<html>

    <link rel ="stylesheet" href ="css/newstyle.css">

	<head>
        <div id="head">
            LET'S PAIR UP!
        </div>
	</head>

	<body>
        <div id="form">
            <p>Click to add a field.</p>
            <form method="post" action="/getname">
            <input type="button" value="Add Name" onclick="randomPair()">
            <input type="submit">
                <script>
                    function randomPair(){
                        var input = document.createElement("input");
                        input.type = "text";
                        input.required = true;
                        input.name = "names[]";
                        input.id = "names";
                        document.body.appendChild(input);
                    }
                </script><br>
            </form>
        </div>
	</body>

	<footer>
	
	</footer>

</html>