#head {
    text-align: center;
    block-size: 40px;
    font-size: 30px;
    background-color: darkolivegreen;
    color: goldenrod;
    font-family: Cambria;
} 

body {
    background-image: url("../img/forest.jpg");
    min-height: 100%;
    background-position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
    text-align: center;
    padding-block-start: 30px;
}

#form {
    padding: 20px;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    background-color: white;
    border: 5px solid black;
}