#head {
    text-align: center;
    block-size: 40px;
    font-size: 30px;
    background-color: darkolivegreen;
    color: goldenrod;
} 

body {
    background-image: url("../img/forest.jpg");
    min-height: 100%;
    background-position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
    text-align: center;
    padding-block-start: 30px;
}